/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
  font-family: "Poetsen One", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  /* background-color: rgb(12, 12, 12); */
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
}

p {
}

/* Elements
--------------------------------------------- */
ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
}

li {
  list-style-type: none;
}

/* Links
--------------------------------------------- */
a {
}

a:visited {
}

a:hover {
}

a:focus {
}

a:active {
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav img {
  width: 45px;
  height: 45px;
  border: 1px solid white;
  border-radius: 10px;
}

/* Main
--------------------------------------------- */

/* Footer
--------------------------------------------- */
footer {
  display: flex;
}

footer p {
  font-size: 0.7rem;
  align-content: end;
}
