/* add google font */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  /* background-color: rgb(12, 12, 12); */
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, Times, "Times New Roman", serif;
  margin: 0.5em 0;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav img {
  width: 45px;
  height: 45px;
  border: 1px solid white;
  border-radius: 10px;
}

nav li {
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

a:hover{
  color: skyblue;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
}

/* check the height */
.name {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_title {
  font-size: 2.5rem;
}

/* check the margin */
.portfolio_title,
.about-me-title {
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
}

.h3_side {
  text-align: center;
  margin-top: 3rem;
  /* font-size: 2rem; */
}

.project ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.projects-wrapper,
.about {
  max-width: 50rem;
  margin: 0 auto;
}

.box {
  border: 2px solid white;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  border-radius: 0.625rem;
  height: 20rem;
  width: 20rem;
  margin: 0 1rem;
}

.smaller-box {
  border: 1px solid white;
  border-radius: 1.25rem;
  margin: 2rem auto;
  height: 8rem;
  width: 15rem;
}

.box-section{
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* color */
svg path{
  fill: white;

}

svg{
  width: 2rem;
  height: 2rem;
}

footer {
  /* height: 70vh; */
  /* display: flex; */
}

footer p {
  font-size: 0.8rem;
  justify-content: center;
  align-content: end;
}

.about {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  justify-content: center;
}

.about-me {
  width: 100%;
}

/* 
p {
  text-align: center;
  font-size: 1.5rem;
} 

*/
