/* add google font */
body {
  font-family: "Poetsen One", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  /* background-color: rgb(12, 12, 12); */
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: Georgia, Times, "Times New Roman", serif; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav img {
  width: 45px;
  height: 45px;
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 1rem;
}

nav li {
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

a:hover {
  color: skyblue;
}

a{
  font-size: 1.2rem;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
}

/* check the height */
.name {
  height: calc(93vh - 5.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_title {
  font-size: 3rem;
}

/* check the margin */
.portfolio_title{
  text-align: center;
  margin: 3rem 0;
  padding-top: 2rem;
}

.project ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.projects-wrapper,
.about {
  max-width: 50rem;
  margin: 0 auto;
}

.box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 0.625rem;
  height: 20rem;
  width: 14rem;
  margin: 0 1rem;
}

@media (min-width: 50em) {
  nav ul{
    justify-content: space-around;
    width: 20%;
  }

  a{
    font-size: 1.5rem;
  }

  h2{
    font-size: 3rem;
  }
  
  .name_title{
    font-size: 4rem;
  }

  .projects-wrapper,
  .about-me {
    max-width: 70rem;
    margin: 0 auto;
  }

  p,.about-me footer p{
    font-size: 1.5rem;
  }

  

}

.smaller-box {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
}

.coding {
  width: 7rem;
  height: 6rem;
}

.box img {
  /* border: 1px solid white;
  border-radius: 1.50rem; */
  margin: 2rem auto;
  height: 10rem;
  width: 15rem;
}

.box-text {
  text-align: center;
}

.box-section {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

/* color */
svg path {
  fill: white;
}

svg {
  width: 2rem;
  height: 2rem;
}

.about-me{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.4rem;
  justify-content: center;
}

.about-me-title{
  align-content: center;
  margin: 0;
}
.about-me p{
  line-height: 2;
}

/* idk if this is the right way of using flex */
footer {
  display: flex;
}

footer p {
  font-size: 0.7rem;
  align-content: end;
}
